<h2>All Backpackers</h2>
<% @users.each do |user| %>

<% if user.image_url %>
  <img id="profile_pic" src="<%= user.image_url %>" alt="profile picture">
<% end %>
<h2><a href="/users/<%= user.slug %>"><%= user.username %></h2></a>
<% end %>
