<form action="/login" method="POST">
<input type="text" name="email" placeholder="Email:"><br>
<input type="text" name="password" placeholder="Password:"><br><br>
<input type="submit" name="submit" value="Log In!">
</form><br>
<a href="/">Home</a>
<% if logged_in? && current_user.id == 1 %>
<%= "User ID: #{session[:user_id].to_s}" %>
<% end %>
