<h2>Create Your Pack</h2>
<form action="/packs" method="POST">
<input type="text" name="trip_name" placeholder="trip name:"><br>
<input type="text" name="length" placeholder="length in days:"><br>
<input type="text" name="weather" placeholder="weather:"><br>
<input type="text" name="image_url" placeholder="image_url"><br><br>
<input type="submit" value="Create Item">
</form>
