<h2>New Blurb!</h2>
<form action="/packs/<%= @pack.id %>/blurb" method="POST">
  <textarea style="width: 100%;" name="blurb" id="" rows="10"></textarea>
  <input type="submit" value="submit">
</form>
